RewriteEngine On
RewriteBase /saburi-lms/

# Remove the .php extension for files that exist
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)$ $1.php [NC,L]

# Handle specific paths
RewriteRule ^$ index.php [L]
RewriteRule ^about about.php [L]
RewriteRule ^contact contact.php [L]
RewriteRule ^core/sessions core/sessions.php [L]
RewriteRule ^login log_reg.php [L]
RewriteRule ^admin/dashboard admin/dashboard.php [L]
RewriteRule ^admin/home admin/home.php [L]
RewriteRule ^admin/about admin/about.php [L]
RewriteRule ^admin/affiliate admin/affiliate.php [L]
RewriteRule ^admin/blog admin/blog.php [L]
RewriteRule ^admin/career admin/career.php [L]
RewriteRule ^admin/contact admin/contactdetails.php [L]
RewriteRule ^admin/corporateGovernance admin/corporateGovernance.php [L]
RewriteRule ^admin/courseslistreport admin/coursesListReport.php [L]
RewriteRule ^admin/forgotPassword admin/forgotPassword.php [L]
RewriteRule ^admin/freeResources admin/freeResources.php [L]
RewriteRule ^admin/manageBulkRegistration admin/manageBulkRegistration.php [L]
RewriteRule ^admin/manageCourse admin/manageCourse.php [L]
RewriteRule ^admin/managePayments admin/managePayments.php [L]
RewriteRule ^admin/manageStudents admin/manageStudents.php [L]
RewriteRule ^admin/manageStudentSubscription admin/manageStudentSubscription.php [L]
RewriteRule ^admin/manageSubscriptions admin/manageSubscriptions.php [L]
RewriteRule ^admin/manageUser admin/manageUser.php [L]
RewriteRule ^admin/pendingsubreport admin/pandingSubscriptionReport.php [L]
RewriteRule ^admin/privacy admin/privacypolicy.php [L]
RewriteRule ^admin/studentslistreport admin/studentsListReport.php [L]
RewriteRule ^admin/subtopic admin/subtopic.php [L]
RewriteRule ^admin/development admin/sustainabledev.php [L]
RewriteRule ^admin/topic admin/topic.php [L]
RewriteRule ^admin/terms admin/terms.php [L]
RewriteRule ^admin/test admin/test.php [L]
RewriteRule ^admin/manageQnA admin/manageQnA.php [L]
RewriteRule ^admin/manageChapter admin/manageChapter.php [L]
RewriteRule ^admin/manageAssessment admin/manageAssessment.php [L]
RewriteRule ^admin/newsLetter admin/newsLetter.php [L]






